<app-card variant="secondary" class="form-busca">
    <form>
        <h2>Passagens</h2>
        <div class="flex-container">
            <mat-button-toggle-group name="Tipo de passagem">
                <mat-button-toggle>
                    <mat-icon>check</mat-icon>
                    IDA E VOLTA
                </mat-button-toggle>
                <mat-button-toggle>SOMENTE IDA</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-chip-list  aria-label="Seleção de passagens">
                <mat-chip (click)="openDialog()" color="primary">
                    <mat-icon>check</mat-icon>
                    1 adulto
                </mat-chip>
                <mat-chip (click)="openDialog()" color="primary">
                    <mat-icon>check</mat-icon>
                    Econômica
                </mat-chip>
            </mat-chip-list>
        </div>

        <div class="flex-container">
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Origem</mat-label>
                <mat-icon matPrefix>flight_takeoff</mat-icon>
                <input matInput placeholder="Origem">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <button mat-icon-button>
                <mat-icon>sync_alt</mat-icon>
            </button>
            <mat-form-field appearance="outline" class="input-container">
                <mat-label>Origem</mat-label>
                <mat-icon matPrefix>flight_land</mat-icon>
                <input matInput placeholder="Destino">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-container date-picker">
                <mat-label>Data de ida</mat-label>
                <input matInput [matDatepicker]="pickerIda" placeholder="Selecione">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="pickerIda"></mat-datepicker-toggle>
                <mat-datepicker #pickerIda></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="input-container date-picker">
                <mat-label>Data de volta</mat-label>
                <input matInput [matDatepicker]="pickerVolta" placeholder="Selecione">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="pickerVolta"></mat-datepicker-toggle>
                <mat-datepicker #pickerVolta></mat-datepicker>
            </mat-form-field>
            <button mat-flat-button color="primary">BUSCAR</button>
        </div>
    </form>

</app-card>