<footer class="app-footer">
    <app-container>
        <div class="inner">
            <ul>
                <li>
                    <img src="assets/imagens/logo-com-tagline.png" alt="">
                </li>
                <li>
                    Horário de funcionamento 08h às 18h
                </li>
                <li>
                    Desenvolvido por Alura. Projeto fictício sem fins comerciais
                </li>
            </ul>
            <ul class="sociais">
                <li>
                    Acesse nossas redes sociais
                </li>
                <li>
                    <button mat-icon-button>
                        <img src="assets/imagens/icones/whatsapp.png" alt="">
                    </button>
                    <button mat-icon-button>
                        <img src="assets/imagens/icones/instagram.png" alt="">
                    </button>
                    <button mat-icon-button>
                        <img src="assets/imagens/icones/twitter.png" alt="">
                    </button>
                </li>
            </ul>
        </div>
    </app-container>
</footer>